<header>
    <nav id="navbar"
        class="navbar navbar-light navbar-expand-sm sticky-top"
        role="navigation">
        <div class="container">
            {% if page.permalink != '/' %}
            <a class="navbar-brand title font-weight-lighter" href="{{ site.baseurl }}/">
                <span class="font-weight-bold">
                    {{ site.first_name }}
                </span>
                {{ site.last_name }}
            </a>
            {% endif %}

            <div class="collapse navbar-collapse text-right" id="navbarNav">
                <ul class="navbar-nav ml-auto flex-nowrap">
                    {% for page in site.pages %}
                    {% if page.permalink == '/' %} {% assign title = page.title %} {% endif %}
                    {% endfor %}

                    <li class="nav-item {% if page.permalink == '/' %}active{% endif %}">
                        <a class="nav-link" href="{{ '/' | relative_url }}">
                            {{ title }}
                            {% if page.permalink == '/' %}
                            <span class="sr-only">(current)</span>
                            {% endif %}
                        </a>
                    </li>

                    {% assign sorted_pages = site.pages | sort: 'nav_order' %}
                    {% for p in sorted_pages %}
                        {% if p.nav and p.autogen == null %}
                            <li class="nav-item {% if page.url contains p.permalink %}active{% endif %}">
                                {% assign url = p.url %}
                                <a class="nav-link" href="{{ url | relative_url }}">
                                    {{ p.title }}
                                    {% if page.url contains p.url %}
                                    <span class="sr-only">(current)</span>
                                    {% endif %}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- Scrolling Progress Bar -->
    <progress id="progress" value="0">
        <div class="progress-container">
            <span class="progress-bar"></span>
        </div>
    </progress>
</header>