---
layout: default
---
<div class="post">
    <header class="post-header">
        <h1 class="post-title">
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.last_name }}
        </h1>
        <p class="desc">{{ page.subtitle }}</p>
    </header>

    <article>
        <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
            {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}

            {% if page.profile.image_circular %}
                {% assign profile_image_class = "img-fluid z-depth-1 rounded-circle" %}
            {% else %}
                {% assign profile_image_class = "img-fluid z-depth-1 rounded" %}
            {% endif %}
            
            {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width:
            576px)30vw, 95vw"{% endcapture %}

            {% include figure.liquid
                path=profile_image_path
                class=profile_image_class
                alt=page.profile.image
                cache_bust=true
            %}

            <!-- Social -->
            <div class="more-info">
                <div class="social">
                    <div class="contact-icons">
                        {% include micro/social.liquid %}
                    </div>
                </div>
            </div>
        
        {% endif %}
        </div>

        <div class="clearfix"> {{ content }} </div>

        <!-- News -->
        {% if page.news %}
        <h3>News</h3>
        {% include micro/news.liquid limit=true %}
        {% endif %}

    </article>

</div>
